<!DOCTYPE html>
<html>
<head>
  <title>PivotalAuth</title>
  <%= stylesheet_link_tag    "pivotal_auth/application", media: "all" %>
  <%= javascript_include_tag "pivotal_auth/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="flash-messages">
  <% flash.each do |kind,msg| %>
    <div class="alert <%= "alert-#{kind}" %>">
      <%= msg %>
    </div>
  <% end %>
</div>

<%= yield %>

</body>
</html>
